os:
 - linux
language: go
before_install:
  - sudo apt-get remove libzmq1
  - wget http://download.zeromq.org/zeromq-4.0.4.tar.gz
  - tar -xf zeromq-4.0.4.tar.gz
  - cd zeromq-4.0.4
  - ./configure
  - make
  - sudo make install
  - sudo su -c "echo '/usr/local/lib' > /etc/ld.so.conf.d/local.conf"
  - sudo ldconfig
  - cd $GOPATH/src/github.com/vrecan/rift
install:
- go get github.com/tools/godep
- go get golang.org/x/tools/cmd/cover
- go get github.com/smartystreets/goconvey
- export PATH=$PATH:$HOME/gopath/bin
- $HOME/gopath/bin/godep go install github.com/vrecan/rift
script: go test -v ./...
